@using Microsoft.AspNetCore.Identity
@using Vigilante.Models.ENUMs
@inject SignInManager<VGUser> SignInManager


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Vigilante</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    
    @* Link to your custom CSS file *@
    <link rel="stylesheet" href="~/css/site.css" /> 
</head>
<body>
    <div class="wrapper">
        <div class="sidebar">
            <div class="sidebar-content">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">Vigilante</span>
                </a>

                <div class="mb-auto">
                    <partial name="_LoginPartial" />
                </div>
               

                @if (SignInManager.IsSignedIn(User))
                {
                    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start flex-grow-1">
                        <li class="nav-item">
                            <a asp-area="" asp-controller="Home" asp-action="Index" class="nav-link px-sm-0 px-2">
                                <i class="fs-5 bi-house"></i><span class="ms-1 d-none d-sm-inline">Home</span>
                            </a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Companies" asp-action="Index" class="nav-link px-sm-0 px-2">
                                <i class="fs-5 bi-building"></i><span class="ms-1 d-none d-sm-inline">Company</span>
                            </a>
                        </li>
                        <li class="dropdown">
                            <a asp-area="" asp-controller="Projects" asp-action="Index" class="nav-link dropdown-toggle px-sm-0 px-2" id="projectsDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fs-5 bi-earmark-ppt"></i><span class="ms-1 d-none d-sm-inline">Projects</span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="projectsDropdown">
                                <li><a class="dropdown-item" asp-area="" asp-controller="Projects" asp-action="Create">New Project...</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Projects" asp-action="Index">Index</a></li>
                                @if (!User.IsInRole(nameof(Roles.Admin)))
                                {
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Projects" asp-action="MyProjects">My Projects</a></li>
                                }
                                <li><a class="dropdown-item" asp-area="" asp-controller="Projects" asp-action="AllProjects">All Projects</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Projects" asp-action="ArchivedProjects">Archived Projects</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a asp-area="" asp-controller="Tickets" asp-action="Index" class="nav-link dropdown-toggle px-sm-0 px-2" id="ticketsDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fs-5 bi-earmark-font"></i><span class="ms-1 d-none d-sm-inline">Tickets</span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="ticketsDropdown">
                                <li><a class="dropdown-item" asp-area="" asp-controller="Tickets" asp-action="Create">New Ticket...</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Tickets" asp-action="Index">Index</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Tickets" asp-action="MyTickets">My Tickets</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Tickets" asp-action="AllTickets">All Tickets</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Tickets" asp-action="ArchivedTickets">Archived Tickets</a></li>
                            </ul>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Notifications" asp-action="Index" class="nav-link px-sm-0 px-2">
                                <i class="fs-5 bi-mailbox2"></i><span class="ms-1 d-none d-sm-inline">Notifications</span>
                            </a>
                        </li>
                    </ul>
                }
            </div>
        </div>

        <div class="main-content-area">
            <main class="main-content">
                @RenderBody()
            </main>

            <footer class="app-footer">
                <div class="container-fluid">
                    &copy; @DateTime.Now.Year - Vigilante - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </div>
            </footer>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
    @await RenderSectionAsync("scripts", required: false)
</body>
</html>